nav{
    background-color: blue;

    /* margin-bottom: 2px; */
}
input{
    outline: none;
    margin-right: 2px;
    
}
button{
    background-color: black;
    color: aliceblue;
    outline: auto;
    height: 3%;
    width: 5%;
    
    text-align: center;
    cursor: pointer;
}